#container{
    display: flex;
    background-color: whitesmoke
}
.btn{
    width: 150px;
    text-align: left;
}
#left{
    
    
    max-width: fit-content;
    margin: 30px 10px 0px 150px;
}
#mid{
    background-color: white;
    margin: 30px 30px 20px 10px;
    
    padding: 0px 10px 20px 10px;
    
}
#mid-down{
    display: flex;
    justify-content: space-between;
}
#right{
    
    margin: 30px 30px 20px 10px;
    width: fit-content;

}
#right-btm{
    width: 220px;
    height: 220px;
    background-color: white;
    text-align: center;
    padding: 50px 0px 10px 0px;
}
.topic_button{
   
    padding: 10px 20px 10px 20px ;
    color: blue;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 20px;
}